@model LibraryData.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt>Title</dt>
    <dd>@Model.Title</dd>
    <dt>Year</dt>
    <dd>@Model.Year</dd>
    <dt>Author</dt>
    <dd>@Model.Author?.Name</dd>
    <dt>Genres</dt>
    <dd>@string.Join(", ", Model.BookGenres.Select(bg => bg.Genre.Name))</dd>
    <dt>Publishers</dt>
    <dd>@string.Join(", ", Model.BookPublishers.Select(bp => bp.Publisher.Name))</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
